USE [master]
GO
/****** Object:  Database [QL_TaiKhoan]    Script Date: 10/7/2025 3:39:33 PM ******/
CREATE DATABASE [QL_TaiKhoan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_TaiKhoan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_TaiKhoan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_TaiKhoan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_TaiKhoan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_TaiKhoan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [appuser]    Script Date: 10/7/2025 3:39:33 PM ******/
CREATE LOGIN [appuser] WITH PASSWORD=N'fuShYx/RJ7SvyFWAEpj9rrI261lF+4TB5jdmzl93dbo=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [appuser] DISABLE
GO
ALTER AUTHORIZATION ON DATABASE::[QL_TaiKhoan] TO [ADMIN-PC\Admin]
GO
USE [QL_TaiKhoan]
GO
/****** Object:  User [appuser]    Script Date: 10/7/2025 3:39:33 PM ******/
CREATE USER [appuser] FOR LOGIN [appuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [appuser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [appuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [appuser]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/7/2025 3:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[NgaySinh] [nvarchar](20) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[NguoiDung] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Id], [Username], [Email], [HoTen], [PasswordHash], [SoDienThoai], [NgaySinh], [GioiTinh], [DiaChi]) VALUES (1, N'huyphuoc', N'huyphuoc09112005@gmail.com', N'Bùi Lê Huy Phước', N'91ac6218d63edb1343cd914b6a71ebe53b1fc732b6d128935a6caed8a6d4c002', NULL, NULL, NULL, NULL)
INSERT [dbo].[NguoiDung] ([Id], [Username], [Email], [HoTen], [PasswordHash], [SoDienThoai], [NgaySinh], [GioiTinh], [DiaChi]) VALUES (2, N'demo1', N'demo1@gmail.com', N'Bùi Lê Huy Phước', N'b73fb9b3891aed62acf4b2f988079b05621e9b1352b25227d945e491815514d4', N'0345648941', N'Sep 11 2005 12:00AM', N'Nam', N'202 mạc thị bưởi')
INSERT [dbo].[NguoiDung] ([Id], [Username], [Email], [HoTen], [PasswordHash], [SoDienThoai], [NgaySinh], [GioiTinh], [DiaChi]) VALUES (3, N'huongiang@gmail.com', N'huongiang@gmail.com', N'hehe', N'b73fb9b3891aed62acf4b2f988079b05621e9b1352b25227d945e491815514d4', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__536C85E448D09D30]    Script Date: 10/7/2025 3:39:34 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D1053496DA004D]    Script Date: 10/7/2025 3:39:34 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
